.overlay {
    position: absolute;
    // top: 0; /* 원하는 위치로 조정 */
    // right: 0; /* 원하는 위치로 조정 */
    // width: 100%;
    // height: 100%;
    top: 20%; /* 원하는 위치로 조정 */
    right: 16%; /* 원하는 위치로 조정 */
    z-index: 1000; /* Canvas 위에 나타나도록 조정 */
    opacity: 0; /* 처음에는 숨겨진 상태로 설정 */
    transition: opacity 0.5s ease-in; /* opacity 변화에 대한 transition 추가 */
    transition-delay: 1s; /* 0.5초 후에 transition 시작 */
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
}
  
  .overlayContent {
    // position: absolute;
    // top: 15%; /* 원하는 위치로 조정 */
    // right: 20%; /* 원하는 위치로 조정 */
    background-color: white;
    border-radius: 20px;
    height: 500px;
    width: 400px;
  }

  .overlay.show {
    opacity: 1; /* show 클래스가 추가되면 opacity를 1로 설정하여 나타나도록 함 */
    transition-delay: 0s; /* show 클래스가 추가되면 transition-delay를 0으로 설정하여 즉시 나타나도록 함 */
}

// Card
.card {
    .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 30px 50px 0 50px;
    }

    .content {
        margin-bottom: 20px;
        padding: 0 50px;
    }

    .btn {
        background-color: rgb(169, 226, 234);
        // background-color: #e9e9e9;
        border-radius: 10px;
        border: none;
        height: 40px;
        width: 100px;
        float: right;
        font-weight: bold;
        position: absolute;
        bottom: 30px;
        right: 30px;
        font-family: 'Gowun Dodum', sans-serif;
        color: rgb(68, 68, 68);
    }

    .icon_container {
        padding: 5px 50px;
        background-color: rgb(169, 226, 234);
        // background-color: #e9e9e9;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .icon {
        img {
            width: 250px;
            height: 250px;
            margin-left: 30px;
        }

        .img2 {
            width: 250px;
            height: 250px;
            margin-left: 20px;
        }

        .img3 {
            width: 320px;
            height: 270px;
            margin-left: -10px;
        }
    }
}