.ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #cce8e8 !important;
  font-weight: lighter !important;
}

.ql-editor {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 360px !important;
  overflow: hidden;
}

.ql-toolbar {
  border: 2px solid #cce8e8 !important;
  border-radius: 10px 10px 0px 0px;
  background-color: #cce8e8;
}


.ql-toolbar.ql-snow {
    border: none;
}