.Cards {
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 3rem;
    @media (min-width: 640px){
        grid-template-columns:repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 768px){
        grid-template-columns:repeat(3, minmax(0, 1fr));
    }
    @media (min-width: 1024px){
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @media (min-width: 1536px){
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.Pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}