.container {
    padding-left: 5vh;
    padding-right: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    max-width: 900px;
    padding-top: 5vh;
    border-radius: 10px;
    // box-shadow: 8px 8px 3px #bfbfbf;
    margin-left: 18vw;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pagetitle {
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #4e4e4e;
}

.selectbtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.selectbtn button{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    // background-color: #fff;
    // border-color: #fff 1px solid;
    margin: 0px 1px 0px 0px;
    padding: 0;
    width: 50px;
    height: 40px;
    transition: none;
}

.selectbtn button:hover {
    background-color: #171de5;
    border: none;
}

.selectbtn button:focus {
    background-color: #171de5;
    border: none;
    outline: none;
}

.activebtn {
    color: white; 
    border: solid #171de5 1px;
    background-color: #171de5;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    border-radius: 10px;
    width: 28%;
    background-color: #fff;
    margin-top: 40px;
    height: 500px;
    // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.inner_content {
    display: flex;
    flex-direction: column;
}

.content {
    border-radius: 10px;
    width: 71%;
}

.page_content {
    background-color: #fff;
    border-radius: 10px;
    height: 500px;
    // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    // display: flex;
    align-items: center;
    vertical-align: center;
    width: 100%;
}

.page_box {
    overflow: auto;
    // width: 95%;
    height: 100%;
}

.page_box::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
}

.page_box::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #171de5; /* 스크롤바의 색상 */
    border-radius: 30px;
}

.page_box::-webkit-scrollbar-track {
    background: rgba(36, 124, 248, 0.1);  /*스크롤바 뒷 배경 색상*/
    border-radius: 30px;
}