.auction_info_container {
    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      .user_info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
  
      .time {
        font-size: 0.875rem;
        color: #718096; /* Change to your desired color */
      }
    }
  
    hr {
      border: 1px solid #e2e8f0; /* Change to your desired border color */
      margin: 1rem 0;
    }
  
    .description {
      font-size: 1rem;
    }
  }
  