
// AccountInfo.module.scss

.title {
    font-size: 24px;
    color: #f1efee;
    font-size: calc(1.3rem + .6vw);
}

.btn {
  margin-left: 10px;
  border: none;
  background-color: #171de5;
  border-radius: 10px;
  color: white;
}
.account_info {
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #f1efee;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    color:#292929;

    .info_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;

      p {
        margin: 0;
      }
  
      span {
        margin-right: 10px;
      }
  
      input {
        height: 30px;
        border-radius: 5px;
        flex: 1;
        margin-left: 30%;
        max-width: 250px;
      }
  
      button {
        margin-left: 10px;
        max-width: 90px;
      }
    }
  
    // input[type="password"] {
    //   width: 100%;
    //   padding: 5px;
    // }
  
    div {
      width: 100%;
      margin-top: 15px;
  
      button {
        max-width: 200px;
        margin-left: 520;
        border: 1px solid #171de5;
        border-radius: 8px;
        background-color: #171de5;
        color: #f1efee;
      }
    }
    
    span[style="color: red"] {
      margin-left: 10px;
    }
  }
  